@mixin text($fontSize,$fontWeight,$lineHeight,$color) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
}

@mixin container() {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin header($bgColor) {
  position: fixed;
  left: 0;
  width: 100%;
  max-width: 100%;
  top: 0;
  right: 0;
  transition: all .3s ease;
  height: 80px;
  background-color: $bgColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  padding: 10px 65px;
  z-index: 500;
  text-align: center;
}