@import "../common/style/sass/variables";
@import "../common/style/sass/mixins";

.Block {
  min-height: 30vh;
  background-color: $backgroundSecondOne;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100px 0;

  .container {
    @include container();
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;

    .button {
      @include button();

    }
  }
}



