@import "../common/style/sass/variables";
@import "../common/style/sass/mixins";


.header {
  @include header($backgroundPrimaryColor);

  .container {
    margin-right: 100px;
    @media screen and (max-width: 500px) {
      margin-right: 70px;
    }
  }
}

.headerActive {
  @include header($backgroundSecondOne);

  .container {
    margin-right: 100px;
    @media screen and (max-width: 500px) {
      margin-right: 70px;
    }
  }
}

.headerBurger {
  @include header($backgroundPrimaryColor);
  @media screen and (max-width: 500px) {
    height: 250px;
    transition: 1s ease-in-out;
  }

  .container {
    margin-right: 100px;
    @media screen and (max-width: 500px) {
      margin-right: 70px;

    }
  }
}

.headerActiveBurger {
  @include header($backgroundSecondOne);
  @media screen and (max-width: 500px) {
    height: 250px;
    transition: 1s ease-in-out;
  }

  .container {
    margin-right: 100px;
    @media screen and (max-width: 500px) {
      margin-right: 70px;
    }
  }
}