.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    height: 300px;
    width: 100%;
    background-color: #afafaf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #7a7a7a;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #5e91e5;
    align-items: center;
}

.title {
    margin: 5px 0 3px 0;
    background-color: #f2ffd0;
    width: 95%;
}

.description {
    margin: 3px 0;
    background-color: #f2ffd0;
    width: 95%;
}



