@import "../../common/style/sass/variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;


  .active {
    color: $themeColor;
  }

  a {
    text-decoration: none;
    padding: 0 10px;
    line-height: 70px;
    color: hsla(0, 0%, 100%, .9);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05rem;
    transition: .3s;
    cursor: pointer
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}
