@import "../../common/style/sass/variables";

.burgerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  left: -30px;
  right: 0;
  top: 0;
  position: absolute;
  height: 200px;
  padding: 20px;
  transition: 1s ease-in-out;

  .burgerBTN {
   // width: 30px;
    //height: 30px;
    //background-color: $themeColor;
    position: absolute;
    right: 151px;
    top: 36px;
  }

  .burgerNavItems {
    display: flex;
    margin-right: 103px;
    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: nowrap;
      transform: translate(0, -150px);
      visibility: hidden;
      opacity: 0;
      transition: 0.4s;
    }

    .active {
      color: $themeColor;
    }

    a {
      text-decoration: none;
      padding: 0 10px;
      line-height: 70px;
      color: hsla(0, 0%, 100%, .9);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05rem;
      transition: .3s;
      cursor: pointer
    }
  }

  .show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    transition: 1s ease-in-out;
    @media screen and (max-width: 500px) {
      margin-top: 15px;
      transform: translate(0, 0);
      transition: 1s ease-in-out;
      visibility: visible;
      opacity: 1;
    }
  }

  @media screen and (min-width: 400px) {
    display: none;
  }

}
