@import "../common/style/sass/variables";
@import "../common/style/sass/mixins";

.block {
  height: 20vh;
  background-color: $backgroundSecondOne;

  .container {
    @include container();
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .footerBlock {
      width: 280px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      div {
        height: 50px;
        width: 50px;
      }
    }
  }
}
